data 
assets
models
outputs
retriever_model.pth
code/__pycache__ 
code/retriever_model.pth 
code/cached_context_embeddings.pt 
code/context_embeddings 
code/saved_models 
code/bm25_index.pkl
code/bm25_index_kiwi.pkl
