torch==1.13
datasets==2.15.0
transformers==4.25.1
tqdm
pandas
scikit-learn
wandb
gitpython
pre-commit

# faiss install (if you want to)
faiss-gpu

#question generation (for t5 model)
sentencepiece